.action-container {
	width: 60px;
	height: 60px;
	display: flex;
	flex-direction: column;
	background-color: black;
}

.button-wrapper {
	padding-left: 50%;
}

.action-button {
	background-color: #821660;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: white;
	border: none;
	cursor: pointer;
}
