.start-select-wrapper {
	padding-top: 30%;
}

.start-select-container {
	width: 60px;
	height: 60px;
	background-color: gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.start-select-button {
	background-color: blue;
	width: 100%;
	height: 20px;
	border: none;
	color: white;
	cursor: pointer;
}
